.container {
    /* display: inline-block; */
    width: 95%;
    padding: 40px 0;
    margin-left: calc((100% - 95%) / 2);
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    h2.main-title {
        font-size: 28px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
